.navbar-brand img {
  height: 40px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
/* Body og nedover gjelder kortene og login siden */
body {
  background-color: #121212;
}

.bg-dark-custom {
  background-color: #121212;
  min-height: auto;
}

.bg-spotify-card {
  background-color: #181818;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  margin: 5px;
}

.bg-spotify-card:hover {
  background-color: #282828;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.login-box {
  background-color: #121212;
  min-height: auto;
  max-width: 450px;
  margin: auto;
}
/* Dette gjelder da mobil versjonen */
@media (max-width: 600px) {
  .bg-spotify-card {
    max-width: 100%;
    margin: 5px 0;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .navbar-brand img {
    height: 25px;
    width: auto;
  }

  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 50px;
  }

  .navbar-toggler {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
}
