.navbar-brand img {
  height: 40px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

body {
  background-color: #121212;
}

.bg-dark-custom {
  background-color: #121212;
  min-height: 100vh;
}

.bg-spotify-card {
  background-color: #181818;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.bg-spotify-card:hover {
  background-color: #282828;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.login-box {
  background-color: #121212;
  min-height: auto; /* Sørger for at den ikke strekker seg til bunnen */
  max-width: 450px; /* Setter en maksgrense så den ikke blir for bred på PC */
  margin: auto;
}

/* Sjekk om du har denne, den kan være synderen: */
.vh-100 {
  height: 100vh;
}
